.volumeBar(@backgroundColour: @backgroundColour) {
  .jp-volume-bar {
    background-color:@backgroundColour;
    cursor: pointer;
    border-radius: 1px; 
    height: 80px;
    display: none;
    transform: rotate(180deg);
    margin: 0 auto;
    width: 8px;
    margin-top: 10px;
    .jp-volume-bar-value {
      background-color:@foregroundColour;
      width:8px;
    }
  }
}