{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "overrides": [
    {
      "files": [
        "**/*.spec.*{js,jsx}"
      ],
      "rules": {
        "react/prop-types": "off",
        "no-underscore-dangle": "off"
      }
    }
  ]
}
