*.swp
*~
*.iml
.*.haste_cache.*
.DS_Store
.idea
.vscode
.nyc_output
.babelrc
.editorconfig
.eslintignore
.travis.yml
.jsdom.jsdom
npm-debug.log
node_modules
coverage
examples
mocha.opts
webpack.config.babel.jsdom