.jp-playback-rate-bar {
  background-color:@backgroundColour;
  cursor: pointer;
  left: 670px;
  width: 60px;
  height:100%;
  .jp-playback-rate-bar-value {
    background-color:@foregroundColour;
    height:100%;
  }
}