.progressBar(@backgroundColour: @backgroundColour) {
  .jp-progress {
    @import "../currentTime/currentTime";
    @import "../duration/duration";
    @import "../seekBar/seekBar";
    background-color:@backgroundColour;
    height:100%;
    width:600px;
    min-width: 180px;
    max-width: 500px;
    font-size: 20px;
    position: relative;
  }
}