.jp-progress {
  @import "../currentTime";
  @import "../duration";
  @import "../bufferBar";
  @import "../seekBar";
  background-color:@backgroundColour;
  height:100%;
  left:0;
  right:0;
  margin:auto;
  width:300px;
  font-size: 20px;
}