.jp-progress {
  @import "../currentTime/currentTime";
  @import "../duration/duration";
  @import "../bufferBar/bufferBar";
  @import "../seekBar/seekBar";
  background-color:@backgroundColour;
  height:100%;
  left:0;
  right:0;
  margin:auto;
  width:300px;
  font-size: 20px;
}