.jp-jplayer {
  .jp-hidden {
    display:none;
  }

  .jp-gui {
    user-select: none
  }
}

.fitScreen() {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.jp-jplayer.jp-state-full-screen {
  .fitScreen;
  width: 100%;
  height: 100%;
  background-color: black;
  visibility: visible;
  position: fixed;
  z-index: -2;

  .jp-gui {
    position: fixed;
    bottom: 0;
    width: 100%;

    .jp-poster {
      .fitScreen;
      max-width: 100%;
      z-index: -1;
      margin: auto;
      position: fixed;
      max-height: initial;
    }
  }

  .jp-audio& .jp-media, .jp-video& .jp-media {
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    video {
      width: 100%;  
    }
  }
}