.jp-gui {   
    @import "controls";
    height:42px;
    background-color: #e5e5e5;
    position: relative;
    .jp-title-container {
        display:flex;
        align-items:center;
        position:absolute;
        left: 385px;
        height: 100%;
        .jp-title {
            margin-left:10px;
            font-weight:bold;
            display:inline-block;
        }
        .jp-audio& .jp-poster {
            max-height: 100%;
            display:inline-block;
        }
    }
}