.jp-hidden {
  display:none;
}

.jp-gui {
  user-select: none
}

.jp-no-solution {
  display:none;
}

.jp-jplayer.jp-state-full-screen {
  width: 100%;
  height: 100%;
  background-color: black;
  
  .jp-gui {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .jp-auido& .jp-media, .jp-video& .jp-media {
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    video {
      width: 100%;  
    }
  }
}