.time() {
  padding: 0 12px;
  top: 50%;
  position: relative;
  display: inline-block;
  transform: translateY(-50%);
}

.fitScreen() {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hideElement(@selector, @maxWidth) {
  @media (max-width: @maxWidth) {
    @{selector} {
      display: none;
    }
  }
}