.jp-gui {
  @import "../controls/controls";
  height:42px;
  background-color: #e5e5e5;
  position: relative;
  display: flex;
  
  .jp-title-container {
    height: 100%;
    font-size: 12px;
    .centerChildren;
    @import "../title/title";
    @import "../poster/poster";
  }
}