.jp-gui {
  @import "../controls/controls";
  @import "../browserUnsupported/browserUnsupported";
  height:42px;
  background-color: #e5e5e5;
  position: relative;
  .jp-title-container {
    font-size: 12px;
    @import "../title/title";
    @import "../poster/poster";
  }
}