.jp-play {
  left:625px;
}

.iconControls() {
  .jp-play {
    .jp-sleek& i:before {
      content:"\f04b";
    }
    .jp-state-playing& i:before {
        content:"\f04c";
    }
  }
}

.textControls() {
  .jp-state-playing& .jp-play {
    content:"Pause";
    font-size: 50px;
  }
}