.iconControls() {
  .jp-mute {
    position: relative;
    height: inherit;
    .jp-state-muted& i:before {
        content:"\f026";
    }
    .jp-state-volume-low& i:before {
        content:"\f027";
    }
    .jp-state-volume-high& i:before {
        content:"\f028";
    }
  }
}

.textControls() {
  .jp-mute {
    span:before {
      content:"Mute";
    }
    .jp-state-muted& span:before {
      content:"Unmute";
    }
  }
}