@import "../play/play";
@import "../progress/progress";
@import "../download/download";
@import "../repeat/repeat";
@import "../fullScreen/fullScreen";
@import "../playbackRateBar/playbackRateBar";
@import "../mute/mute";
@import "../volumeBar/volumeBar";

@keyframes fadeIn {
    0% { width: 0; }
    100% { width: 100px; }
}

.jp-controls {
  height: inherit;
  position:relative;
  font-size:24px;
  white-space: nowrap;
  display: table;
  border-spacing: 5px 0;
  margin: 0 auto;

  > * {
    vertical-align: middle;
    height: inherit;
    display: table-cell;
  }

  a {
    cursor:pointer;
    text-decoration:none;
    color:@iconColour;
    text-align: center;
    min-width: 42px;
  }

  a:hover,
  button:hover {
    color: @iconHoverColour;
  }

  button:focus {
    outline: none;
  }

  button {
    color:@iconColour;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .jp-volume-container {
    min-width: 42px;
    position: relative;

    .jp-state-no-volume-support& {
      display: none !important;
    }
    
    .jp-volume-controls {
      /* Legacy Firefox fix for position absolute and table cell */
      position: absolute;
      top: 0;
      height: 100%;

      .jp-volume-bar-container {
        background-color: #e5e5e5;
        position: absolute;
        height: 0;
        width: 24px;
        left: 8px;
        bottom: 100%;
        transition-duration: 0.3s;
      }
    }
  }

.jp-volume-container:hover .jp-volume-bar-container {
  .jp-volume-bar {
    display: block;
    bottom: 10%;
  }
  height: 100px;
  transition-duration: 0.3s;
  outline: solid 1px #cfcfcf;
}

.jp-icon-controls {
  .iconControls;
  .volumeBar;
  .progressBar;

  button {
    min-width: 42px;
    vertical-align: middle;
  }
}
.jp-text-controls {
  .textControls;
  .volumeBar(initial);
  .progressBar(initial);
}